.sider-menu-metrics-root > .ant-menu-submenu-title .ant-menu-submenu-arrow {
  display: none;
}

.sider-menu-metrics-root .ant-menu-item {
  overflow: hidden;
}

.sider-menu-context-label {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 140px;
}
