.my-account-page {
  max-width: 360px;
}

.my-account-password-form {
  max-width: 360px;
}

.my-account-password-form .ant-form-item:last-child {
  margin-bottom: 0;
}

.my-account-password-form .ant-form-item-explain {
  text-align: left;
}
